<%- include('partial/header'); %>
<ul>
<%
    if (allOSIps) {
        allOSIps.forEach(function(ip){
%>
        <li><%= ip.name %> - <a href="http://<%= ip.address %>:<%= applicationPort %>" target="_blank"><%= ip.address %>:<%= applicationPort %></a></li>
<%
        });
    }
%>
</ul>
<form action="/upload" method="post" class="myUploadForm" enctype="multipart/form-data">
    <input type="file" name="files"
    class="btn btn-primary" id="file"
    multiple>
    <button class="btn btn-primary" type="submit" style="border-radius: 4px;">
        Upload
    </button>
</form>
<p><a href="/flist">List of uploaded files</a></p>
<script type="text/javascript">
    document.getElementById("file").value = "";
</script>
<%- include('partial/footer'); %>
